// PC (width > 992px)
@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none !important;
    }

    .show-on-mobile {
        display: none !important;
    }
}

// Tablet & Mobile (width < 992px)
@media screen and (max-width: 991px) {
    // Main
    main {
        // service
        .service {
            .service__inner {
                grid-template-columns: 1fr;
                row-gap: 70px;
            }

            .service__item {
                padding-top: 75px;
            }

            .service__separate {
                width: 100%;

                &::before {
                    background-repeat: repeat-x;
                    background-size: auto;
                    max-width: 100%;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    transform: unset;
                }
            }
        }

        // overView
        .overView {
            padding: 40px 0;

            .overView__inner {
                grid-template-columns: 1fr;
                grid-template-areas:
                    'info'
                    'numbers'
                    'elements';
            }

            .overView__info {
                max-width: 100%;
            }

            .overView__heading {
                width: 100%;
                max-width: 100%;
                min-width: auto;
            }

            .overView__numbers {
                margin-right: auto;
                margin-left: auto;
                margin-top: 80px;
            }

            .overView__numbers-list {
                margin: 0 auto;
            }

            .overView__elements {
                margin-top: 80px;
                width: 100%;
                max-width: 100%;

                &::after {
                    background-position: center;
                }
            }
        }

        // feature
        .feature {
            display: none;
        }

        // about
        .about {
            display: none;
        }

        // feature-intro
        .feature-intro {
            display: none;
        }

        // blog
        .blog {
            display: none;
        }

        // testimonial
        .testimonial {
            display: none;
        }
    }

    // Footer
    footer {
        display: none;
    }
}

// Tablet ( 768px < width < 992px)
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none !important;
    }

    .show-on-pc {
        display: none !important;
    }

    .main {
        .hero {
            padding: 40px 0;
        }

        .hero__highlight-img {
            width: calc(100% + 20px);
            height: 100%;
            top: 0px;
            overflow: visible;
        }

        // overView
        .overView {
            .overView__heading {
                text-align: center;
            }
        }
    }
}

// Mobile ( width < 768px )
@media screen and (max-width: 767px) {
    // header
    .header {
        .wrapper {
            width: 100%;
        }

        .logo {
            width: 47px;
        }

        .navbar {
            display: none;
        }

        .header__cta {
            margin-left: auto;
            margin-right: 44px;
            width: 80px;
            height: 30px;
            font-size: 1.2rem;
            line-height: 1;
        }

        .menu__checkbox {
            display: none;
        }

        .menu__btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            width: 24px;
            height: 16px;
        }

        .menu__icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: fixed;
            inset: 0;
            background: var(--background-color, #000);
            visibility: hidden;
            opacity: 0;

            transition: opacity 0.2s linear, visibility 0.2s linear;
        }

        .menu__drawer {
            position: fixed;
            inset: 0;
            width: 65%;
            height: 100%;
            padding: 32px 60px;
            background: var(--background-color--dark-brown);
            z-index: 2;
            transform: translateX(-120%);
            transition: 0.5s ease-out;

            & .navbar__item {
                display: block;
                padding: 12px 0;

                &::after {
                    display: none;
                }
            }

            & li:not(:first-child) .navbar__item {
                margin-top: 30px;
            }

            & .active {
                color: var(--primary-color);
            }
        }

        .menu__checkbox:checked {
            ~ .overlay {
                visibility: visible;
                opacity: 0.6;
            }

            ~ .menu__drawer {
                transform: translateX(0);
            }
        }
    }

    // hero
    .hero {
        padding: 28px 0 40px;

        .hero__inner {
            padding-top: 18px;
        }

        .hero__slogan {
            margin-top: 18px;
            font-size: 3rem;
            max-width: 297px;
        }

        .hero__desc {
            display: none;
        }

        .hero__highlight-img {
            width: calc(100% + 20px);
            height: 100%;
            top: 0px;
            overflow: visible;
        }

        .hero__effect--top-left {
            height: 64px;
            transform: translate(40%, 48px);
        }

        .hero__effect--top-right {
            height: 64px;
            transform: translateY(200%);
        }

        .hero__cta {
            flex-direction: column;
            row-gap: 18px;
        }

        .hero__btn {
            width: 143px;
            height: 39px;
            font-size: 1.2rem;
        }

        .hero__cards {
            margin-top: 82px;
        }
    }

    // service
    .service {
        padding: 40px 0;

        .service__inner {
            row-gap: 23px;
            // padding: 0 60px;
        }
        .service__item {
            padding-top: 33px;
        }

        .service__title {
            font-size: 2rem;
        }
    }

    // overview
    .overView {
        .overView__desc {
            font-size: 1.2rem;
            line-height: 1.83333;
        }

        .overView__numbers {
            margin-top: 37px;
            max-width: 100%;
            width: 100%;

            height: 175px;
        }

        .overView__numbers-list {
            display: grid;
            margin: 0 auto;
            position: relative;
            grid-template-columns: repeat(2, auto);
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }

        .overView__numbers-item {
            width: 104px;

            &:nth-child(2) {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                z-index: 1;

                .numbers-item__desc {
                    max-width: 46px;
                }
            }
        }

        .numbers-item__values {
            text-align: center;
            width: auto;
            max-height: 98px;
        }

        .numbers-item__number {
            font-size: 2rem;
        }

        .numbers-item__desc {
            margin-top: 10px;
            font-size: 1.2rem;
            font-weight: 600;
            align-self: center;
        }

        .overView__circles {
            max-width: 455px;
            width: auto;
        }

        .overView__circle-dashed--small {
            max-width: 336px;
            width: auto;
        }

        .overView__btn {
            width: 120px;
        }
    }

    .hide-on-mobile {
        display: none !important;
    }

    .show-on-pc {
        display: none !important;
    }
}
