:root {
    // Color
    --primary-color: #0cce84;
    --secondary-color: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    --background-color: #131517;
    --background-color--black: #282c30;
    --background-color--light-black: #191b1d;
    --background-color--gray: #858b93;
    --background-color--dark-gray: #27292c;
    --background-color--dark-blue: #272633;
    --background-color--dark-brown: #313538;
    --text-color: #9ea1a7;
    --text-color-white: #f9f9f9;
    --primary-color-dark-yellow: #ef8f00;
    --primary-color-blue: #ae8ff9;
    --primary-color-orange: #ff7667;

    // Font
    --font-family: 'Sora', system-ui;

    // Box
    --wrap-width: 1096px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 12px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($color: #0cce84, $alpha: 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    overflow: overlay;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 56px);
    width: var(--wrap-width);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Button
.btn {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &--outline {
        border: 2px solid var(--background-color--black);
    }

    &:hover {
        cursor: pointer;
        border: none;
    }
}

.highlight {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--secondary-color);
}

// Header
.header {
    position: sticky;
    // margin-top: 20px;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 10;

    .wrapper {
        width: 1143px;
        margin-top: -1px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // Logo
    .logo {
        width: 80px;

        &__img {
            width: 100%;
            height: 100%;
        }
    }

    // Navigation
    .navbar {
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 12px;
        }

        &__item {
            padding: 0 12px;
            color: var(--text-color);
            font-size: 1.6rem;
            line-height: 1.5;
            font-weight: 400;
            user-select: none;
            cursor: pointer;
            transition: 0.2s ease;

            &.active {
                position: relative;
                color: var(--text-color-white);

                &::after {
                    position: absolute;
                    display: block;
                    left: 12px;
                    bottom: -3px;
                    width: 21px;
                    height: 2px;
                    content: '';
                    background: var(--primary-color);
                    animation: shadeInActiveMenu 0.5s linear forwards;
                }
                @keyframes shadeInActiveMenu {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            &:not(.active):hover {
                color: var(--text-color-white);
            }
        }
    }

    // CTA
    &__cta {
        width: 110px;
        height: 40px;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: var(--secondary-color);
        transition: 0.5s ease;
        position: relative;

        &:hover {
            color: var(--text-color-white);

            &::after {
                opacity: 1;
            }
        }

        &:after {
            position: absolute;
            content: '';
            inset: 0;
            background-image: var(--secondary-color);
            border-radius: inherit;
            z-index: -1;
            opacity: 0;
            transition: 0.5s ease;
        }
    }
}

.main {
    width: 100%;
}

// Hero
.hero {
    padding: 70px 0;
    width: 100%;

    .wrapper {
        width: 1144px;
    }

    &__inner {
        position: relative;
        padding-top: 60px;
    }

    &__slogan {
        margin: 0 auto;
        text-align: center;
        max-width: 780px;
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.167;
        color: var(--text-color-white);
    }

    &__highlight {
        display: inline-block;
        position: relative;
        background: transparent;

        &-img {
            position: absolute;
            user-select: none;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            top: -10px;
            left: -10px;
            object-position: center;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__desc {
        margin: 34px auto 0;
        width: 447px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
    }

    &__cta {
        margin-top: 44px;
        justify-content: center;
        column-gap: 20px;
    }

    &__btn {
        width: 199px;
        height: 54px;
        color: var(--text-color-white);
        font-size: 1.6rem;
        line-height: 1.625;
        background: var(--background-color--black);

        &:hover {
            background: var(--secondary-color);
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        margin: 111px auto 0;
        width: 100%;
        height: 512px;
    }

    .cards {
        position: relative;
        max-width: 848px;
        height: 100%;
    }

    .card {
        width: 100%;
        height: 100%;

        &--side {
            position: absolute;
            max-width: 216px;
            max-height: 335px;
            bottom: 0;
            left: -75px;
        }
    }

    .card__img {
        width: 100%;
        object-fit: cover;
    }

    &__effect {
        position: absolute;
        z-index: -1;

        &--vertical {
            width: 121px;
            height: 315px;
        }

        &-dot {
            width: 89px;
            height: 89px;

            &-l {
                width: 154px;
                height: 154px;
            }
        }

        &--top-left {
            top: 0;
            left: 28px;
        }

        &--top-right {
            top: 0;
            right: 28px;
        }

        &--bottom-left {
            bottom: 73px;
            left: 50px;
        }
        &--bottom-right {
            right: 70px;
            bottom: 200px;
        }
    }
}

// service
.service {
    width: 100%;
    padding: 70px 0;

    .service__inner {
        display: grid;
        padding: 71px 50px 53px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 143px;
        border-radius: 27px;
        background: var(--background-color--black, #282c30);
    }

    .service__item {
        text-align: center;
    }

    .service__separate {
        position: relative;

        &::before {
            position: absolute;
            display: block;
            background-size: cover;
            background-image: url('/assets/images/icons/separate-dash.svg');
            max-width: 195px;
            width: 100%;
            height: 2px;
            content: '';
            top: 31px;
            right: calc(100% + calc(143px / 2));
            transform: translateX(50%);
            filter: invert(57%) sepia(7%) saturate(357%) hue-rotate(175deg) brightness(94%) contrast(93%);
        }
    }

    .service__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: var(--bg, var(--primary-color));
    }

    .service__icon-img {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    .service__title {
        margin-top: 30px;
        color: var(--text-color-white, #f9f9f9);
        font-family: Sora;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.455;
    }

    .service__desc {
        margin-top: 5px;
        color: var(--text-color, #858b93);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
    }
}

// overView
.overView {
    padding: 70px 0;
    margin-right: auto;
    margin-left: auto;

    .wrapper {
        width: 1160px;
    }

    .overView__inner {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'info elements'
            'numbers elements ';

        column-gap: 21px;
    }

    .overView__info {
        max-width: 537px;
        margin-top: 17px;
        grid-area: info;
    }

    .overView__heading {
        max-width: 368px;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.26;
        color: var(--text-color-white, #f9f9f9);
    }

    .overView__desc {
        margin-top: 22px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        color: var(--background-color--gray, #858b93);
    }

    .overView__numbers {
        max-width: 537px;
        margin-top: 86px;
        grid-area: numbers;

        &-list {
            display: flex;
            column-gap: 17px;
        }

        &-item {
            align-items: center;
        }
    }

    .numbers-item__values {
        display: flex;
        width: 132px;
        height: 127px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 9px;
        background: var(--background-color--dark-blue, #272633);
        transition: 0.2s ease;

        &.active {
            border-radius: 9px;
            background: linear-gradient(191deg, #ae8ef9 7.3%, #ef8f00 60.81%, #6aea5c 100%);

            & .numbers-item__desc {
                color: var(--text-color-white, #f9f9f9);
            }
        }
    }

    .numbers-item__number {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.26;
        color: var(--text-color-white, #f9f9f9);
    }

    .numbers-item__desc {
        margin-top: 16px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        color: var(--background-color--gray, #858b93);
    }

    .overView__pagination {
        display: flex;
        margin-bottom: 28px;
        justify-content: center;
        column-gap: 5px;

        &-item {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: var(--text-color-white);
            opacity: 0.4;
            transition: 0.2s ease;

            &.active {
                background: var(--primary-color-dark-yellow);
                opacity: 1;
            }
        }
    }

    .overView__elements {
        position: relative;
        display: flex;
        grid-area: elements;
        max-width: 561px;
        max-height: 525px;
        justify-content: center;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url(/assets/images/overView/overView-background.png) no-repeat;
            background-position: right;
            background-size: contain;
            z-index: -1;
        }
    }

    .overView__circles {
        position: relative;
        display: block;
        width: 455px;
        z-index: auto;
    }

    .overView__circle-dashed {
        width: 100%;

        &--small {
            position: absolute;
            width: 336px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .overView__circle-fill {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: #6aea5c;
        box-shadow: 0px 0px 0px 40px #6aea5c80;
        transform: translate(-50%, -50%);
    }

    .overView__buttons-block {
        position: absolute;
        background: transparent;
        width: 100%;
        height: 100%;
    }

    .overView__btn {
        position: absolute;
        display: flex;
        padding: 0 18px;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        width: 199px;
        height: 55px;
        border-radius: 5px;
        z-index: 1;
        --bg-color-1: #c4f566;
        --bg-color-2: #ff6e6e;

        &::before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            inset: 0;
            border-radius: inherit;
            background: var(--background-color--dark-gray);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
            opacity: 0;
            z-index: -1;
            transition: 0.2s linear;
        }

        &:hover {
            .overView__highlight {
                color: var(--text-color-white);
            }

            &::after {
                opacity: 1;
            }
        }

        &--l {
            width: 225px;
            height: 61px;
        }

        // Index
        &:nth-child(1) {
            --bg-color-1: #ef8f00;
            --bg-color-2: #ff7667;

            top: 62px;
            left: -5px;
        }

        &:nth-child(2) {
            --bg-color-1: #0cce84;
            --bg-color-2: #ae8ef9;

            top: 55px;
            right: 43px;
            left: unset;
        }

        &:nth-child(3) {
            top: unset;
            left: 42px;
            bottom: 154px;
        }

        &:nth-of-type(4) {
            position: absolute;
            top: unset;
            left: unset;
            bottom: 80px;
            right: 28px;
        }
    }

    .overView__highlight {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
        transition: 0.5s ease;
    }

    .overView__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;

        &--left {
            margin-right: 15px;
        }
    }

    .overView__avatar {
        position: relative;
        display: flex;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex-shrink: 0;
        flex-grow: 1;
        z-index: 2;

        --bg-color-1: #c531f9;
        --bg-color-2: #dd406f;
        --bg-color-3: #787878;

        &::after {
            position: absolute;
            inset: 0;
            content: '';
            display: block;
            z-index: -1;
            border-radius: inherit;
            background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
        }

        &:nth-child(even) {
            --bg-color-1: #6aea5c;
            --bg-color-2: #db7d60;
            --bg-color-3: #787878;
        }
    }

    .overView__avatar + .overView__avatar {
        margin-left: -11px;
    }

    .overView__img {
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        background: transparent;
        z-index: 1;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }
}

// feature
.feature {
    margin-top: 70px;
    margin-bottom: 70px;
    background: var(--background-color--light-black);
    .wrapper {
        width: 1096px;
    }

    .feature__inner {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 489px 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, auto));
        grid-template-areas:
            'image heading'
            'image features';
        column-gap: 75px;
        row-gap: 50px;
        padding: 136px 0 81px;
    }

    .feature__images {
        grid-area: image;
        width: 100%;
        height: 100%;
    }

    .feature__img {
        display: block;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
    }

    .feature__heading {
        grid-area: heading;
        margin-top: 53px;
        color: var(--text-color-white, #f9f9f9);
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.8666666666666667;
    }

    .feature__list {
        grid-area: features;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: repeat(auto-fill, minmax(100px, auto));
        column-gap: 35px;
        row-gap: 25px;

        align-content: flex-start;
    }

    .feature__item {
        --bg-icon: var(--primary-color);
        display: flex;
        column-gap: 23px;

        &:nth-child(4n + 2) {
            --bg-icon: var(--primary-color-dark-yellow);
        }
        &:nth-child(4n + 3) {
            --bg-icon: var(--primary-color-blue);
        }
        &:nth-child(4n + 4) {
            --bg-icon: var(--primary-color-orange);
        }
    }

    .feature__item-image {
        display: flex;
        width: 20px;
        height: 19px;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        background: var(--bg-icon);
    }

    .feature__item-heading {
        color: var(--text-color-white, #f9f9f9);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.555;
    }

    .feature__item-desc {
        margin-top: 8px;
        color: var(--background-color--gray, #858b93);
        font-size: 1.4;
        font-weight: 400;
        line-height: 1.714;
    }
}

// about
.about {
    padding: 70px 0;

    .about__inner {
        text-align: center;
    }

    .about__heading {
        margin-left: auto;
        margin-right: auto;
        max-width: 497px;
        color: var(--text-color-white, #f9f9f9);
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.25;
    }

    .about__desc {
        margin-left: auto;
        margin-right: auto;
        max-width: 747px;
        margin-top: 30px;
        color: var(--background-color--gray, #858b93);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
    }

    .about__actions {
        display: flex;
        margin-top: 44px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 18px;
        row-gap: 18px;
    }

    .about__action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--background-color--black, #282c30);
        border-radius: 23px;
    }

    .about__action-icon {
        padding: 0 18px;
        user-select: none;
        -drag: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
    }

    .about__action-title {
        padding: 16px 20px 16px 0;
    }

    .about__images {
        margin-top: 75px;
        width: 100%;
    }

    .about__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// feature intro
.feature-intro {
    padding: 70px 0;

    &__inner {
        display: grid;
        grid-template-columns: minmax(auto, 493px) 1fr;
        grid-template-rows: minmax(150px auto);
        grid-template-areas:
            'heading button'
            'cta-group images';
        justify-content: space-between;
        column-gap: 55px;
    }

    &__heading {
        max-width: 493px;
        grid-area: heading;
        color: var(--text-color-white, #f9f9f9);
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.25;
    }

    &__more {
        position: relative;
        margin: 27px 98px 0 auto;
        width: 218px;
        height: 68px;
        font-size: 1.8rem;
        font-weight: 600;
        color: transparent;
        background: var(--secondary-color);
        z-index: 1;
        background-clip: text;
        -webkit-background-clip: text;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background-image: var(--secondary-color);
            opacity: 0;
            z-index: -1;
            transition: 0.2s linear;
        }

        &:hover {
            color: var(--text-color-white, #f9f9f9);

            &::after {
                opacity: 1;
            }
        }
    }

    &__cta-group {
        margin-top: 2px;
        padding: 65px 0;
        grid-area: cta-group;
    }

    &__cta {
        width: 100%;
        min-height: 158px;
        padding: 29px 40px 37px;
        border-radius: 15px;
        border: 2px solid var(--background-color--black, #282c30);
        cursor: pointer;
        transition: background 0.2s linear;

        &:hover {
            background: var(--background-color--black, #282c30);
        }

        &:nth-child(even) {
            .feature-intro__cta-title::after {
                background: var(--primary-color);
            }
        }
    }

    &__cta + &__cta {
        margin-top: 16px;
    }

    &__cta-title {
        display: inline-block;
        position: relative;
        color: var(--text-color-white, #f9f9f9);
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.3;

        &::after {
            position: absolute;
            margin-left: 0.6rem;
            bottom: 1.1rem;
            left: 100%;
            width: 0.8rem;
            height: 0.8rem;
            content: '';
            border-radius: 50%;
            background: var(--primary-color-dark-yellow);
        }
    }

    &__cta-desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
    }

    &__images {
        margin-top: 23px;
        position: relative;
        grid-area: images;
        width: 100%;
        min-height: 615px;
    }

    &__img-wrapper {
        position: absolute;
        width: 348px;
        height: 263px;
        border-radius: 31px;
        z-index: 1;

        &::after {
            position: absolute;
            inset: 0;
            content: '';
            display: block;
            z-index: -1;
            border-radius: inherit;
            background: linear-gradient(to right, #6aea5c, #fd7566, #ef8f00);
        }

        &--top {
            top: 0;
            left: 0;
        }

        &--center {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &--bottom {
            left: 26px;
            bottom: 0;
        }
    }

    &__img {
        border: 3px solid transparent;
        width: 100%;
        height: 100%;
        border-radius: 31px;
        object-fit: cover;
    }
}

// blog
.blog {
    .blog__inner {
        padding: 70px 0;
        text-align: center;
    }

    .blog__heading {
        display: inline-block;
        max-width: 531px;
        color: var(--text-color-white, #f9f9f9);
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.25;
    }

    .blog__block {
        margin-top: 56px;
        display: flex;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 26px;
        row-gap: 26px;
    }

    .blog__item {
        padding: 21px 20px 21px;
        max-width: 348px;
        background: var(--background-color--black, #282c30);
        border-radius: 12px;

        --progress: 20%;
        --bg-color: var(--primary-color);

        &:nth-child(odd) {
            --bg-color: var(--primary-color-dark-yellow);
        }
    }

    .blog__images {
        position: relative;
        width: 307px;
        height: 254px;
        border-radius: inherit;
    }

    .blog__thumb {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }

    .blog__cta {
        position: absolute;
        width: 139px;
        height: 36px;
        bottom: 50px;
        margin-right: auto;
        margin-left: auto;
        right: 0;
        left: 0;
        border: none;
        outline: none;
        border-radius: 999px;
        color: var(--text-color-white, #f9f9f9);
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(54.5px);
        backdrop-filter: blur(54.5px);
    }

    .blog__title {
        margin: 52px auto 0;
        width: 100%;
        max-width: 190px;
        color: var(--text-color-white, #f9f9f9);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
    }

    .blog__process {
        position: relative;
        margin: 18px auto 0;
        max-width: 238px;
        height: 7px;
        border-radius: 999px;
        background-color: var(--background-color--dark-brown, #313538);
    }

    .blog__progress {
        position: absolute;
        width: var(--progress);
        background-color: var(--bg-color);
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
    }

    .blog__more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17px;
    }

    .blog__more-btn {
        display: inline-flex;
        margin-left: auto;
        padding: 7px 30px;
        align-items: center;
        justify-content: flex-end;
        color: var(--background-color--gray, #858b93);
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;

        &:hover {
            color: var(--text-color-white);
        }
    }

    .blog__more-icon {
        margin-left: 7px;
        width: 10px;
        height: 6px;
        color: var(--bg-color);
    }
}
