@media screen and (min-width: 992px) {
  .hide-on-pc {
    display: none;
  }
  .show-on-mobile {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  main .service {
    display: none;
  }
  main .overView {
    display: none;
  }
  main .feature {
    display: none;
  }
  main .about {
    display: none;
  }
  main .feature-intro {
    display: none;
  }
  main .blog {
    display: none;
  }
  main .testimonial {
    display: none;
  }
  footer {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }
  .main .hero {
    padding: 40px 0;
  }
  .main .hero__highlight-img {
    width: calc(100% + 20px);
    height: 100%;
    top: 0px;
    overflow: visible;
  }
}
@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  .header .wrapper {
    width: 100%;
  }
  .header .logo {
    width: 47px;
  }
  .header .navbar {
    display: none;
  }
  .header .header__cta {
    margin-left: auto;
    margin-right: 44px;
    width: 80px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 1;
  }
  .header .menu__checkbox {
    display: none;
  }
  .header .menu__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 16px;
  }
  .header .menu__icon {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .overlay {
    position: fixed;
    inset: 0;
    background: var(--background-color, #000);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear, visibility 0.2s linear;
  }
  .header .menu__drawer {
    position: fixed;
    inset: 0;
    width: 65%;
    height: 100%;
    padding: 32px 60px;
    background: var(--background-color--dark-brown);
    z-index: 2;
    transform: translateX(-120%);
    transition: 0.5s ease-out;
  }
  .header .menu__drawer .navbar__item {
    display: block;
    padding: 12px 0;
  }
  .header .menu__drawer .navbar__item::after {
    display: none;
  }
  .header .menu__drawer li:not(:first-child) .navbar__item {
    margin-top: 30px;
  }
  .header .menu__drawer .active {
    color: var(--primary-color);
  }
  .header .menu__checkbox:checked ~ .overlay {
    visibility: visible;
    opacity: 0.6;
  }
  .header .menu__checkbox:checked ~ .menu__drawer {
    transform: translateX(0);
  }
  .hero {
    padding: 28px 0 40px;
  }
  .hero .hero__inner {
    padding-top: 18px;
  }
  .hero .hero__slogan {
    margin-top: 18px;
    font-size: 3rem;
    max-width: 297px;
  }
  .hero .hero__desc {
    display: none;
  }
  .hero .hero__highlight-img {
    width: calc(100% + 20px);
    height: 100%;
    top: 0px;
    overflow: visible;
  }
  .hero .hero__effect--top-left {
    height: 64px;
    transform: translate(40%, 48px);
  }
  .hero .hero__effect--top-right {
    height: 64px;
    transform: translateY(200%);
  }
  .hero .hero__cta {
    flex-direction: column;
    row-gap: 18px;
  }
  .hero .hero__btn {
    width: 143px;
    height: 39px;
    font-size: 1.2rem;
  }
  .hero .hero__cards {
    margin-top: 82px;
  }
}/*# sourceMappingURL=responsive.css.map */