:root {
  --primary-color: #0cce84;
  --secondary-color: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  --background-color: #131517;
  --background-color--black: #282c30;
  --background-color--light-black: #191b1d;
  --background-color--gray: #858b93;
  --background-color--dark-gray: #27292c;
  --background-color--dark-blue: #272633;
  --background-color--dark-brown: #313538;
  --text-color: #9ea1a7;
  --text-color-white: #f9f9f9;
  --primary-color-dark-yellow: #ef8f00;
  --primary-color-blue: #ae8ff9;
  --primary-color-orange: #ff7667;
  --font-family: "Sora", system-ui;
  --wrap-width: 1096px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
  height: 12px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(12, 206, 132, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  overflow: overlay;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 56px);
  width: var(--wrap-width);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.btn--outline {
  border: 2px solid var(--background-color--black);
}
.btn:hover {
  cursor: pointer;
  border: none;
}

.highlight {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--secondary-color);
}

.header {
  position: sticky;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 10;
}
.header .wrapper {
  width: 1143px;
  margin-top: -1px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 80px;
}
.header .logo__img {
  width: 100%;
  height: 100%;
}
.header .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.header .navbar__item {
  padding: 0 12px;
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.header .navbar__item.active {
  position: relative;
  color: var(--text-color-white);
}
.header .navbar__item.active::after {
  position: absolute;
  display: block;
  left: 12px;
  bottom: -3px;
  width: 21px;
  height: 2px;
  content: "";
  background: var(--primary-color);
  animation: shadeInActiveMenu 0.5s linear forwards;
}
@keyframes shadeInActiveMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .navbar__item:not(.active):hover {
  color: var(--text-color-white);
}
.header__cta {
  width: 110px;
  height: 40px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--secondary-color);
  transition: 0.5s ease;
  position: relative;
}
.header__cta:hover {
  color: var(--text-color-white);
}
.header__cta:hover::after {
  opacity: 1;
}
.header__cta:after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--secondary-color);
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
}

.main {
  width: 100%;
}

.hero {
  padding: 70px 0;
  width: 100%;
}
.hero .wrapper {
  width: 1144px;
}
.hero__inner {
  position: relative;
  padding-top: 60px;
}
.hero__slogan {
  margin: 0 auto;
  text-align: center;
  max-width: 780px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.167;
  color: var(--text-color-white);
}
.hero__highlight {
  display: inline-block;
  position: relative;
  background: transparent;
}
.hero__highlight-img {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -10px;
  left: -10px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero__desc {
  margin: 34px auto 0;
  max-width: 447px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}
.hero__cta {
  margin-top: 44px;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.hero__btn {
  position: relative;
  width: 199px;
  height: 54px;
  color: var(--text-color-white);
  font-size: 1.6rem;
  line-height: 1.625;
  background: var(--background-color--black);
  z-index: 1;
}
.hero__btn:hover::after {
  opacity: 1;
}
.hero__btn::after {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: inherit;
  background: var(--secondary-color);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.hero__cards {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 111px auto 0;
  max-width: 1035px;
}
.hero .cards {
  position: relative;
  max-width: 923px;
  width: 90%;
  padding-bottom: 16%;
  height: 100%;
}
.hero .card {
  margin-left: auto;
  max-width: 848px;
  width: 92%;
  max-height: 366px;
}
.hero .card--side {
  position: absolute;
  width: 23.4%;
  max-height: 335px;
  bottom: 0;
  left: 0;
}
.hero .card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__effect {
  position: absolute;
  z-index: -1;
}
.hero__effect-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero__effect--vertical {
  width: 10.6%;
}
.hero__effect--horizontal {
  width: 8.08%;
  rotate: -90deg;
}
.hero__effect-dot {
  width: 89px;
  height: 89px;
}
.hero__effect-dot-l {
  width: 154px;
  height: 154px;
}
.hero__effect--top-left {
  top: 0;
  left: 28px;
}
.hero__effect--top-right {
  top: 0;
  right: 28px;
}
.hero__effect--bottom-left {
  width: 11.5%;
  bottom: 73px;
  left: 0px;
}
.hero__effect--bottom-right {
  width: 15%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.service {
  width: 100%;
  padding: 70px 0;
}
.service .service__inner {
  display: grid;
  padding: 71px 50px 53px;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 143px;
       column-gap: 143px;
  border-radius: 27px;
  background: var(--background-color--black, #282c30);
}
.service .service__item {
  text-align: center;
}
.service .service__separate {
  position: relative;
}
.service .service__separate::before {
  position: absolute;
  display: block;
  background-size: cover;
  background-image: url("/assets/images/icons/separate-dash.svg");
  max-width: 195px;
  width: 100%;
  height: 2px;
  content: "";
  top: 31px;
  right: calc(100% + 71.5px);
  transform: translateX(50%);
  filter: invert(57%) sepia(7%) saturate(357%) hue-rotate(175deg) brightness(94%) contrast(93%);
}
.service .service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: var(--bg, var(--primary-color));
}
.service .service__icon-img {
  filter: invert(1);
}
.service .service__title {
  margin-top: 30px;
  color: var(--text-color-white, #f9f9f9);
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.455;
}
.service .service__desc {
  margin-top: 5px;
  color: var(--text-color, #858b93);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}

.overView {
  padding: 70px 0;
  margin-right: auto;
  margin-left: auto;
}
.overView .wrapper {
  width: 1160px;
}
.overView .overView__inner {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "info elements" "numbers elements ";
  -moz-column-gap: 21px;
       column-gap: 21px;
}
.overView .overView__info {
  max-width: 537px;
  margin-top: 17px;
  grid-area: info;
}
.overView .overView__heading {
  max-width: 368px;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.26;
  color: var(--text-color-white, #f9f9f9);
}
.overView .overView__desc {
  margin-top: 22px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: var(--background-color--gray, #858b93);
}
.overView .overView__numbers {
  max-width: 537px;
  margin-top: 86px;
  grid-area: numbers;
}
.overView .overView__numbers-list {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.overView .overView__numbers-item {
  align-items: center;
}
.overView .numbers-item__values {
  display: flex;
  width: 132px;
  height: 127px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 9px;
  background: var(--background-color--dark-blue, #272633);
  transition: 0.2s ease;
}
.overView .numbers-item__values.active {
  border-radius: 9px;
  background: linear-gradient(191deg, #ae8ef9 7.3%, #ef8f00 60.81%, #6aea5c 100%);
}
.overView .numbers-item__values.active .numbers-item__desc {
  color: var(--text-color-white, #f9f9f9);
}
.overView .numbers-item__number {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.26;
  color: var(--text-color-white, #f9f9f9);
}
.overView .numbers-item__desc {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: var(--background-color--gray, #858b93);
}
.overView .overView__pagination {
  display: flex;
  margin-bottom: 28px;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.overView .overView__pagination-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--text-color-white);
  opacity: 0.4;
  transition: 0.2s ease;
}
.overView .overView__pagination-item.active {
  background: var(--primary-color-dark-yellow);
  opacity: 1;
}
.overView .overView__elements {
  position: relative;
  display: flex;
  grid-area: elements;
  max-width: 561px;
  max-height: 525px;
  justify-content: center;
  align-items: center;
}
.overView .overView__elements::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/overView/overView-background.png) no-repeat;
  background-position: right;
  background-size: contain;
  z-index: -1;
}
.overView .overView__elements-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.overView .overView__circles {
  position: relative;
  display: block;
  width: 455px;
  z-index: auto;
}
.overView .overView__circle-dashed {
  width: 100%;
}
.overView .overView__circle-dashed--small {
  position: absolute;
  width: 336px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overView .overView__circle-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #6aea5c;
  box-shadow: 0px 0px 0px 40px rgba(106, 234, 92, 0.5019607843);
  transform: translate(-50%, -50%);
}
.overView .overView__buttons-block {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
}
.overView .overView__btn {
  position: absolute;
  display: flex;
  padding: 0 18px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 199px;
  height: 55px;
  border-radius: 5px;
  z-index: 1;
  --bg-color-1: #c4f566;
  --bg-color-2: #ff6e6e;
}
.overView .overView__btn::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: 0;
  border-radius: inherit;
  background: var(--background-color--dark-gray);
  z-index: -1;
}
.overView .overView__btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
  opacity: 0;
  z-index: -1;
  transition: 0.2s linear;
}
.overView .overView__btn:hover .overView__highlight {
  color: var(--text-color-white);
}
.overView .overView__btn:hover::after {
  opacity: 1;
}
.overView .overView__btn--l {
  width: 225px;
  height: 61px;
}
.overView .overView__btn:nth-child(1) {
  --bg-color-1: #ef8f00;
  --bg-color-2: #ff7667;
  top: 62px;
  left: -5px;
}
.overView .overView__btn:nth-child(2) {
  --bg-color-1: #0cce84;
  --bg-color-2: #ae8ef9;
  top: 55px;
  right: 43px;
  left: unset;
}
.overView .overView__btn:nth-child(3) {
  top: unset;
  left: 42px;
  bottom: 154px;
}
.overView .overView__btn:nth-of-type(4) {
  position: absolute;
  top: unset;
  left: unset;
  bottom: 80px;
  right: 28px;
}
.overView .overView__highlight {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2));
  transition: 0.5s ease;
}
.overView .overView__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.overView .overView__icon--left {
  margin-right: 15px;
}
.overView .overView__avatar {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 1;
  z-index: 2;
  --bg-color-1: #c531f9;
  --bg-color-2: #dd406f;
  --bg-color-3: #787878;
}
.overView .overView__avatar::after {
  position: absolute;
  inset: 0;
  content: "";
  display: block;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, var(--bg-color-1), var(--bg-color-2), var(--bg-color-3));
}
.overView .overView__avatar:nth-child(even) {
  --bg-color-1: #6aea5c;
  --bg-color-2: #db7d60;
  --bg-color-3: #787878;
}
.overView .overView__avatar + .overView__avatar {
  margin-left: -11px;
}
.overView .overView__img {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background: transparent;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}

.feature {
  margin-top: 70px;
  margin-bottom: 70px;
  background: var(--background-color--light-black);
}
.feature .wrapper {
  width: 1096px;
}
.feature .feature__inner {
  display: grid;
  grid-template-columns: 489px 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  grid-template-areas: "image heading" "image features";
  -moz-column-gap: 75px;
       column-gap: 75px;
  row-gap: 50px;
  padding: 136px 0 81px;
}
.feature .feature__images {
  grid-area: image;
  width: 100%;
  height: 100%;
}
.feature .feature__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.feature .feature__heading {
  grid-area: heading;
  margin-top: 53px;
  color: var(--text-color-white, #f9f9f9);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.25;
}
.feature .feature__list {
  grid-area: features;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: repeat(auto-fill, minmax(100px, auto));
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 25px;
  align-content: flex-start;
}
.feature .feature__item {
  --bg-icon: var(--primary-color);
  display: flex;
  height: 100%;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.feature .feature__item:nth-child(4n+2) {
  --bg-icon: var(--primary-color-dark-yellow);
}
.feature .feature__item:nth-child(4n+3) {
  --bg-icon: var(--primary-color-blue);
}
.feature .feature__item:nth-child(4n+4) {
  --bg-icon: var(--primary-color-orange);
}
.feature .feature__item-image {
  display: flex;
  width: 20px;
  height: 19px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background: var(--bg-icon);
}
.feature .feature__item-heading {
  color: var(--text-color-white, #f9f9f9);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.555;
}
.feature .feature__item-desc {
  margin-top: 8px;
  color: var(--background-color--gray, #858b93);
  font-size: 1.4;
  font-weight: 400;
  line-height: 1.714;
}

.about {
  padding: 70px 0;
}
.about .about__inner {
  text-align: center;
}
.about .about__heading {
  margin-left: auto;
  margin-right: auto;
  max-width: 497px;
  color: var(--text-color-white, #f9f9f9);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.25;
}
.about .about__desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 747px;
  color: var(--background-color--gray, #858b93);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}
.about .about__actions {
  display: flex;
  margin-top: 44px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 18px;
}
.about .about__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color--black, #282c30);
  border-radius: 23px;
}
.about .about__action-icon {
  padding: 0 18px;
  user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
.about .about__action-title {
  padding: 16px 20px 16px 0;
}
.about .about__images {
  margin-top: 75px;
  width: 100%;
}
.about .about__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-intro {
  padding: 70px 0;
}
.feature-intro__inner {
  display: grid;
  grid-template-columns: minmax(auto, 493px) 1fr;
  grid-template-rows: minmax(150px auto);
  grid-template-areas: "heading button" "cta-group images";
  justify-content: space-between;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.feature-intro__heading {
  max-width: 493px;
  grid-area: heading;
  color: var(--text-color-white, #f9f9f9);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.25;
}
.feature-intro__more {
  position: relative;
  margin: 27px 98px 0 auto;
  width: 218px;
  height: 68px;
  font-size: 1.8rem;
  font-weight: 600;
  color: transparent;
  background: var(--secondary-color);
  z-index: 1;
  background-clip: text;
  -webkit-background-clip: text;
}
.feature-intro__more::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image: var(--secondary-color);
  opacity: 0;
  z-index: -1;
  transition: 0.2s linear;
}
.feature-intro__more:hover {
  color: var(--text-color-white, #f9f9f9);
}
.feature-intro__more:hover::after {
  opacity: 1;
}
.feature-intro__cta-group {
  margin-top: 2px;
  padding: 65px 0;
  grid-area: cta-group;
}
.feature-intro__cta {
  width: 100%;
  min-height: 158px;
  padding: 29px 40px 37px;
  border-radius: 15px;
  border: 2px solid var(--background-color--black, #282c30);
  cursor: pointer;
  transition: background 0.2s linear;
}
.feature-intro__cta:hover {
  background: var(--background-color--black, #282c30);
}
.feature-intro__cta:nth-child(even) .feature-intro__cta-title::after {
  background: var(--primary-color);
}
.feature-intro__cta + .feature-intro__cta {
  margin-top: 16px;
}
.feature-intro__cta-title {
  display: inline-block;
  position: relative;
  color: var(--text-color-white, #f9f9f9);
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}
.feature-intro__cta-title::after {
  position: absolute;
  margin-left: 0.6rem;
  bottom: 1.1rem;
  left: 100%;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border-radius: 50%;
  background: var(--primary-color-dark-yellow);
}
.feature-intro__cta-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.feature-intro__images {
  margin-top: 23px;
  position: relative;
  grid-area: images;
  width: 100%;
  min-height: 615px;
}
.feature-intro__img-wrapper {
  position: absolute;
  width: 348px;
  height: 263px;
  border-radius: 31px;
  z-index: 1;
}
.feature-intro__img-wrapper::after {
  position: absolute;
  inset: 0;
  content: "";
  display: block;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #6aea5c, #fd7566, #ef8f00);
}
.feature-intro__img-wrapper--top {
  top: 0;
  left: 0;
}
.feature-intro__img-wrapper--center {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.feature-intro__img-wrapper--bottom {
  left: 26px;
  bottom: 0;
}
.feature-intro__img {
  border: 3px solid transparent;
  width: 100%;
  height: 100%;
  border-radius: 31px;
  -o-object-fit: cover;
     object-fit: cover;
}
.feature-intro__separate {
  margin: 50px auto 0;
  width: 90%;
  height: 1px;
  background: #282b2e;
}

.blog .blog__inner {
  padding: 70px 0;
  text-align: center;
}
.blog .blog__heading {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  max-width: 531px;
  color: var(--text-color-white, #f9f9f9);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.25;
}
.blog .blog__block {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 26px;
}
.blog .blog__item {
  padding: 21px 20px 21px;
  max-width: 348px;
  background: var(--background-color--black, #282c30);
  border-radius: 12px;
  --progress: 20%;
  --bg-color: var(--primary-color);
}
.blog .blog__item:nth-child(odd) {
  --bg-color: var(--primary-color-dark-yellow);
}
.blog .blog__images {
  position: relative;
  width: 307px;
  height: 254px;
  border-radius: inherit;
}
.blog .blog__thumb {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: inherit;
}
.blog .blog__cta {
  position: absolute;
  width: 139px;
  height: 36px;
  bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  border: none;
  outline: none;
  border-radius: 999px;
  color: var(--text-color-white, #f9f9f9);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(54.5px);
  backdrop-filter: blur(54.5px);
}
.blog .blog__title {
  margin: 52px auto 0;
  width: 100%;
  max-width: 190px;
  color: var(--text-color-white, #f9f9f9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}
.blog .blog__process {
  position: relative;
  margin: 18px auto 0;
  max-width: 238px;
  height: 7px;
  border-radius: 999px;
  background-color: var(--background-color--dark-brown, #313538);
}
.blog .blog__progress {
  position: absolute;
  width: var(--progress);
  background-color: var(--bg-color);
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}
.blog .blog__more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
}
.blog .blog__more-btn {
  display: inline-flex;
  margin-left: auto;
  padding: 7px 30px;
  align-items: center;
  justify-content: flex-end;
  color: var(--background-color--gray, #858b93);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.blog .blog__more-btn:hover {
  color: var(--text-color-white);
}
.blog .blog__more-icon {
  margin-left: 7px;
  width: 10px;
  height: 6px;
  color: var(--bg-color);
}

.testimonial .wrapper {
  width: 1219px;
}
.testimonial .testimonial__inner {
  padding: 70px 0;
}
.testimonial .testimonial__heading {
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33333;
  display: none;
}
.testimonial .highlight {
  background-image: linear-gradient(#f8d100 100%, rgba(255, 255, 255, 0));
}
.testimonial .testimonial__block {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  overflow: hidden;
  justify-content: flex-start;
}
.testimonial .testimonial__item {
  display: flex;
  flex-direction: column;
  min-width: 385px;
  padding: 30px 40px 26px;
  width: 100%;
  border: 1px solid var(--background-color--black, #282c30);
  border-radius: 10px;
  transition: all 0.2s linear;
}
.testimonial .testimonial__item:hover {
  background: var(--background-color--black, #282c30);
}
.testimonial .testimonial__item:hover .testimonial__icon {
  rotate: -180deg;
  color: var(--primary-color);
}
.testimonial .testimonial__item:hover .testimonial__item-desc {
  color: #bcc6d0;
}
.testimonial .testimonial__icon {
  display: block;
  margin-left: auto;
  margin-right: 40px;
  color: var(--background-color--black, #282c30);
  transition: all 0.15s linear;
}
.testimonial .testimonial__item-desc {
  margin-top: 27px;
  margin-bottom: 22px;
  color: var(--background-color--gray, #858b93);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.testimonial .testimonial__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
}
.testimonial .testimonial__author-avatar {
  margin-right: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -drag: none;
  -webkit-user-drag: none;
}
.testimonial .testimonial__author-name {
  color: var(--text-color-white, #f9f9f9);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5555555556;
}
.testimonial .testimonial__author-job {
  color: var(--background-color--gray, #858b93);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.testimonial .testimonial__author-rate {
  margin-left: auto;
  margin-bottom: 12px;
  align-self: flex-end;
  color: var(--primary-color-dark-yellow, #ef8f00);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.testimonial .testimonial__rate-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.testimonial .testimonial__navigate--mobile {
  display: none;
}
.testimonial .testimonial__navigate--mobile .testimonial__chevron-group {
  margin: 11px 8px 24px 0;
}
.testimonial .testimonial__chevron-group {
  display: flex;
  margin-right: 60px;
  margin-top: 50px;
  align-items: center;
  justify-content: flex-end;
  gap: 19px;
}
.testimonial .testimonial__chevron {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  color: var(--background-color--gray);
  cursor: pointer;
}
.testimonial .testimonial__chevron:hover {
  color: var(--primary-color-dark-yellow);
}
.testimonial .testimonial__chevron--left {
  rotate: 180deg;
}
.testimonial .testimonial__chevron.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.footer {
  margin-top: 95px;
  width: 100%;
  background: linear-gradient(0deg, #0d1012 0%, #0d1012 100%), lightgray 0px -10.201px/100% 136.014% no-repeat;
}
.footer .footer__inner {
  padding-top: 67px;
  padding-bottom: 148px;
}
.footer .footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer .footer__logo {
  width: 150px;
}
.footer .footer__logo__img {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .footer__cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 54px;
       column-gap: 54px;
}
.footer .footer__cta-title {
  color: var(--background-color--gray, #858b93);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45455;
}
.footer .footer__cta-btn {
  position: relative;
  width: 165px;
  height: 55px;
  color: var(--text-color-white, #f9f9f9);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  background-image: linear-gradient(var(--background-color--black, #282c30) 100%, #282c30);
  transition: 0.5s ease;
  position: relative;
  border-radius: 9px;
  z-index: 1;
}
.footer .footer__cta-btn:hover::after {
  opacity: 1;
}
.footer .footer__cta-btn:after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--secondary-color);
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease-in;
}
.footer .footer__separate {
  margin-top: 37px;
  width: 100%;
  height: 1px;
  background: linear-gradient(0deg, #0d1012 0%, #272633 100%);
}
.footer .footer__body {
  display: flex;
  margin-top: 70px;
  margin-right: 154px;
}
.footer .footer__subscribe {
  margin-right: 154px;
}
.footer .footer__heading {
  color: var(--text-color-white, #f9f9f9);
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45455;
}
.footer .footer__form {
  position: relative;
  display: flex;
  margin-top: 44px;
  max-width: 307px;
  height: 51px;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  border: 1px solid #272633;
}
.footer .footer__input {
  padding: 11px 25px 14px;
  flex: 1;
  height: 100%;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85714;
  border: none;
  outline: none;
  color: var(--text-color-white, #f9f9f9);
  background: transparent;
}
.footer .footer__input::-moz-placeholder {
  color: var(--background-color--gray, #858b93);
}
.footer .footer__input::placeholder {
  color: var(--background-color--gray, #858b93);
}
.footer .footer__btn {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: var(--text-color-white, #f9f9f9);
  background-image: linear-gradient(var(--background-color--black, #282c30) 100%, #282c30);
  z-index: 1;
}
.footer .footer__btn:hover {
  cursor: pointer;
}
.footer .footer__btn:hover::after {
  opacity: 1;
}
.footer .footer__btn:after {
  position: absolute;
  content: "";
  inset: 0;
  background-image: var(--secondary-color);
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  transition: 0.2s ease-in;
}
.footer .footer__socials {
  display: flex;
  margin-top: 45px;
  justify-content: flex-start;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.footer .footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: var(--text-color-white);
  font-size: 1.9rem;
  background: var(--background-color--black);
}
.footer .footer__social:hover {
  opacity: 0.7;
}
.footer .footer__content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  flex: 1;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.footer .footer__link {
  display: block;
  padding: 8px 0;
  color: var(--background-color--gray, #858b93);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.11111;
  opacity: 0.6000000238;
}
.footer .footer__link:hover {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer .footer__link:first-of-type {
  margin-top: 22px;
}/*# sourceMappingURL=styles.css.map */