:root {
    --primary-color: #0cce84;
    --secondary-color: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    --background-color: #131517;
    --background-color--black: #282c30;
    --text-color: #9ea1a7;
    --white-color: #f9f9f9;
    --font-family: 'Sora', system-ui;
    --wrap-width: 1160px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    background: var(--background-color);
}

.wrapper {
    margin: 0 auto;
    width: var(--wrap-width);
    max-width: calc(100% - 56px);
}

.btn {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.btn--outline {
    border: 2px solid var(--background-color--black);
}
.btn:hover {
    cursor: pointer;
    border: none;
}

.header {
    position: sticky;
    margin-top: 20px;
    padding: 20px 0;
    top: 0;
    width: 100%;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 80px;
}
.header .logo__img {
    width: 100%;
    height: 100%;
}
.header .navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 12px;
    column-gap: 12px;
}
.header .navbar__item {
    padding: 0 12px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}
.header .navbar__item.active {
    position: relative;
    color: var(--white-color);
}
.header .navbar__item.active::after {
    position: absolute;
    display: block;
    bottom: -3px;
    width: 21px;
    height: 2px;
    content: '';
    background: var(--primary-color);
}
.header .navbar__item:not(.active):hover {
    color: var(--white-color);
}
.header__cta {
    width: 110px;
    height: 40px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--secondary-color);
}
.header__cta:hover {
    color: var(--white-color);
    background-clip: border-box;
}
